<footer class="site-footer">
  <div class="container footer-menu">
    <a href="https://aspirethemes.com/" target="_blank">Aspire Themes</a>
    <a href="https://aspirethemes.com/changelogs/ubud/" target="_blank">Changelog</a>
    <a href="https://aspirethemes.com/docs/ubud" target="_blank">Documentation</a>
  </div>
  <div class="container copyright">
    © 2025 Ubud – Publicado com Ghost & Ubud
  </div>
</footer>
 <script src='https://ubud-full.aspirethemes.com/assets/js/app.min.js?v=a991933aa7'></script>
