<header class="site-header">
  <div class="container nav-bar">
    <a href="/" class="site-title">Ubud</a>
    <nav class="main-nav">
      <a href="/">Blog</a>
      <a href="/archive/">Archive</a>
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
      <a href="/elements/">Elements</a>
      <a href="#" class="membership">Membership</a>
      <span class="social-links">
        <a href="https://twitter.com/aspirethemes" target="_blank" aria-label="Twitter"><img src="https://ext.same-assets.com/2054648952/2563901416.svg" alt="Twitter" /></a>
        <a href="https://www.facebook.com/aspirethemes" target="_blank" aria-label="Facebook"><img src="https://ext.same-assets.com/2054648952/548389142.svg" alt="Facebook" /></a>
        <a href="https://instagram.com/instagram" target="_blank" aria-label="Instagram"><img src="https://ext.same-assets.com/2054648952/260646423.svg" alt="Instagram" /></a>
        <a href="https://youtube.com/youtube" target="_blank" aria-label="YouTube"><img src="https://ext.same-assets.com/2054648952/4061061103.svg" alt="YouTube" /></a>
        <a href="https://linkedin.com/linkedin" target="_blank" aria-label="LinkedIn"><img src="https://ext.same-assets.com/2054648952/2320907649.svg" alt="LinkedIn" /></a>
        <a href="https://telegram.com/telegram" target="_blank" aria-label="Telegram"><img src="https://ext.same-assets.com/2054648952/1998606599.svg" alt="Telegram" /></a>
        <a href="https://discord.com/" target="_blank" aria-label="Discord"><img src="https://ext.same-assets.com/2054648952/1367661487.svg" alt="Discord" /></a>
        <a href="https://joinmastodon.org/" target="_blank" aria-label="Mastodon"><img src="https://ext.same-assets.com/2054648952/2838098675.svg" alt="Mastodon" /></a>
      </span>
    </nav>
  </div>
</header>
